@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #474073;
}

#column-2 {
  background: #4F4D8C;
}

#column-3 {
  background: #8F8EBF;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#B0C1D9 ;
  }

  #column-1 {
    background-color: #3B4B59;
    
  }

  #column-2 {
    background-color:#8EA8BF ;
    
  }

  #column-3 {
    background-color: #3B4B59;
    width: 100%;
    
  }

  footer {
    background-color:#0D0D0D ;
  }

  .col-3{
    width: 50%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #A2CDF2;
    width: 100%;
  }

  #column-1 {
    background-color: #0367A6;
    
  }

  #column-2 {
    background-color: #4BB2F2;
    
  }

  #column-3 {
    background-color: #027373;
    width: 33.3%;
  }

  footer {
    background-color:#324001 ;
    width: 100%;
  }
   
  .col-3{
    width: 33.3%;
  }
}
